@font-face {
  font-family: "Text";
  font-display: fallback;
  src: url("fonts/Text.woff") format("woff"),
    url("fonts/Text.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Text";
  font-display: fallback;
  src: url("fonts/TextBold.woff") format("woff"),
    url("fonts/TextBold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Nikolai";
  font-display: fallback;
  src: url("fonts/Nikolai-Italic.woff") format("woff"),
    url("fonts/Nikolai-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Mono";
  font-display: fallback;
  src: url("fonts/Mono.woff") format("woff"),
    url("fonts/Mono.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

:root {
  --background: rgb(0, 0, 0);
  --background-alpha: 0, 0, 0;
  --foreground: rgb(255, 255, 255);
  --foreground-alpha: 255, 255, 255;
  --foreground-subtle: rgb(168, 168, 168);
  --accent: rgb(245, 42, 42);

  --content-max-width: 40em;

  --font-mono: "Mono", SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono,
    monospace;
  --font-serif: "Text", system, -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  --font-heading: "Nikolai", serif;
  --font-system: system, -apple-system, "Helvetica Neue", Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  font-family: var(--font-serif);
  font-size: 16px;
  line-height: 1.4;
  color: var(--foreground);
  cursor: crosshair;
}

::selection {
  background-color: var(--accent);
  color: var(--background);
}

img {
  max-width: 100%;
  height: auto;
}

.site-header {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: baseline;
  margin-bottom: 6rem;
}

.site-logo {
  font-size: 2em;
  font-family: var(--font-heading);
  font-weight: bold;
  font-style: italic;
  line-height: 1;
  margin: 0;
}

.site-logo a {
  text-decoration: none;
}

.content {
  max-width: var(--content-max-width);
  padding: 4rem 0 6rem;
  margin: 0 1rem;
}

@media (min-width: 36rem) {
  .content {
    padding: 6rem 0 12rem;
    margin: 0 8vw;
  }
}

.post-preview {
  margin-bottom: 4rem;
}

.post-preview p + h2 {
  margin: 0.25em 0;
}

.post-preview h2 a {
  text-decoration-color: transparent;
}

.post-preview h2 a:hover {
  text-decoration-color: initial;
}

.post-header {
  margin-bottom: 2rem;
}

.post-header p + h1 {
  margin-top: 0.5rem;
}

.post-header h1 {
  margin-bottom: 0;
}

.post-footer {
  margin-top: 6rem;
}

.previous-posts {
  margin-top: 2em;
}

.previous-posts h4 {
  color: var(--foreground-subtle);
  font-weight: normal;
}

.previous-posts ul {
  list-style: none;
  padding: 0;
  margin: 1em 0 0.5rem;
}

.subtle {
  color: var(--foreground-subtle);
}

.mono {
  font-family: var(--font-mono);
  font-size: 0.875em;
}

.system {
  font-family: var(--font-system);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-style: italic;
  line-height: 1.2;
}

h4,
h5,
h6 {
  font-family: var(--font-serif);
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

h5,
h6 {
  font-size: 0.875em;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: rgba(var(--foreground-alpha), 0.4);
  cursor: inherit;
  transition: color 150ms ease, background-color 150ms ease, box-shadow 150ms ease, text-decoration-color 150ms ease;
}

a:hover {
  color: var(--foreground);
  text-decoration-color: var(--foreground);
}

a:focus-visible {
  color: var(--background);
  background: var(--accent);
  box-shadow: 0 0 0 4px var(--accent);
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
pre,
table,
blockquote {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.25em;
}

p + p,
p + ul,
p + ol,
p + table,
p + blockquote,
ul + p,
ul + ul,
ul + ol,
ul + table,
ul + blockquote,
ol + p,
ol + ul,
ol + ol,
ol + table,
ol + blockquote,
p + h3,
ol + h3,
ul + h3,
pre + h3,
table + h3,
blockquote + h3,
pre + p,
pre + ul,
pre + ol,
pre + pre,
pre + table,
pre + blockquote,
p + pre,
ul + pre,
ol + pre,
table + pre,
blockquote + pre,
table + p,
table + ul,
table + ol,
table + table,
table + blockquote,
blockquote + p,
blockquote + ul,
blockquote + ol,
blockquote + blockquote {
  margin-top: 1em;
}

h1 + h1,
h2 + h2,
h3 + h2,
h4 + h2,
h5 + h2,
h6 + h2,
p + h1,
p + h2,
ol + h2,
ul + h2,
pre + h2,
table + h2,
blockquote + h2 {
  margin-top: 2em;
}

li + li {
  margin-top: 0.5rem;
}

li p + ul,
li p + ol {
  margin-top: 0;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(var(--foreground-alpha), 0.1);
}

small {
  font-size: 0.875em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5rem;
  text-align: left;
}

td {
  background: rgba(var(--foreground-alpha), 0.05);
}

th {
  background: rgba(var(--foreground-alpha), 0.1);
  font-weight: bold;
}

tr:hover td {
  background: rgba(var(--foreground-alpha), 0.1);
}

hr {
  width: 100%;
  height: 1px;
  margin: 2rem 0;
  border: none;
  background: rgba(var(--foreground-alpha), 0.1);
}

hr.small {
  max-width: 4rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

code {
  font-family: var(--font-mono);
  font-size: 0.875em;
  -webkit-text-size-adjust: 100%;
  word-spacing: normal;
  color: rgba(var(--foreground-alpha), 0.8);
  background-color: rgba(var(--foreground-alpha), 0.05);
  margin: 0;
  padding: 0.075em 0.25em;
}

pre {
  word-spacing: normal;
  background-color: rgba(var(--foreground-alpha), 0.05);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: auto;
  display: flex;
}

pre code {
  background: none;
  padding: 0;
  margin: 0;
  display: block;
}

pre > code[class*="language-"],
pre > code {
  padding: 1rem;
  flex: 1;
  white-space: nowrap;
}

code[class*="language-"] > span {
  display: block;
  position: relative;
  padding: 0.2em 0;
  white-space: pre;
}

code[class*="language-"] .highlight:before {
  content: "";
  position: absolute;
  top: 0;
  left: -1rem;
  right: -1rem;
  bottom: 0;
  background-color: rgba(var(--foreground-alpha), 0.03);
  pointer-events: none;
}

.namespace {
  opacity: .7;
}

.token.function,
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted,
.token.regex,
.token.important,
.token.variable {
  color: rgba(var(--foreground-alpha), 0.9);
}

.token.comment,
.token.punctuation,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgba(var(--foreground-alpha), 0.4);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.inserted {
  color: rgba(var(--foreground-alpha), 0.7);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: rgb(255, 255, 255);
    --background-alpha: 255, 255, 255;
    --foreground: rgb(0, 0, 0);
    --foreground-alpha: 0, 0, 0;
    --foreground-subtle: rgb(88 88 88);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
